/* .box{
  width: 90%;
  margin: auto;
  position: relative;
  height: 100em;
  padding: 2%;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 20px;
  outline: none;
  background-color: rgba(231, 183, 167, 0.877);
} */
