<div class="mycontainer">
  <nav class="p-20">
    <div class="links">
      <ul class="d-between">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/home"  fragment="about">About</a></li>
        <li><a routerLink="login" routerLinkActive="active">LogIn</a></li>
        <li><a routerLink="home" class="logo p-relative">Yasmina</a></li>
        <li><a routerLink="/home"  fragment="categories">Categories</a></li>
        <li><a routerLink="/home"  fragment="contact">Contacts</a></li>
        <li><a routerLink="/home"  fragment="types">Flower Types</a></li>
      </ul>
    </div>
  </nav>
</div>







<!-- <nav class="py-3 d-flex justify-content-between align-items-center">
  <ul class="d-flex list-unstyled">
    <li class="px-3"><a routerLink="">icon</a></li>
    <li class="px-3"><a routerLink="">logo</a></li>
  </ul>
  <ul class="d-flex list-unstyled">
    <li class="px-3"><a routerLink="home">home</a></li>
    <li class="px-3"><a routerLink="about">about</a></li>
    <li class="px-3"><a routerLink="contacts">contacts</a></li>
    <li class="px-3"><a routerLink="login">login</a></li>
    <li class="px-3"><a routerLink="register">register</a></li>
  </ul>
</nav> -->
